/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com 
                        (matt brown)
---------------------------------------------------------------------------------
*/

.msg {
  padding: 10px;
  background: #222;
  position: relative;
}
.msg h1 {
  color: #fff;
}
.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
.msg a:hover {
  background: #266400;
}

/* //-- yui-grids style overrides -- */
body {
  font-family: Georgia;
  color: #444;
}
#inner {
  padding: 10px 40px ;
  margin: 80px auto;
  background: #f5f5f5;
  border: solid #666;
  border-width: 8px 1px 2px 1px;
}
.yui-gf {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}


/* //-- header, body, footer -- */
#hd {
  width: 100%;
  margin: 4em 0 2em 0;
  padding: 0 0 4em 1em;
  border-bottom: 1px solid #ccc;
}
#hd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#bd,
#ft {
  margin-bottom: 0.5em;
}

/* //-- footer -- */
#ft {
  padding: 2em 0 2em 0;
  font-size: 92%;
  border-top: 1px solid #ccc;
  text-align: center;
}
#ft p {
  margin-bottom: 0;
  text-align: center;
}

/* //-- core typography and style -- */
#hd h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h2 {
  font-size: 152%;
  margin: 0%;
  padding: 0%;
}
h3,
h4 {
  margin: 0%;
  padding: 0%;
  font-size: 122%;
}
h1,
h2,
h3,
h4 {
  margin: 0%;
  padding: 0%;
  color: #333;
}
p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}
a {
  color: #990003;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
li {
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}
p.enlarge {
  font-size: 144%;
  padding-right: 6.5em;
  line-height: 24px;
}
p.enlarge span {
  color: #000;
}
.contact-info {
  margin: 0%;
  padding: 0%;
}
.first h2 {
  font-style: italic;
  margin: 0%;
  padding: 0%;
}
.last {
  border-bottom: 0;
}

/* //-- section styles -- */

a#pdf {
  display: block;
  float: left;
  background: #666;
  color: white;
  padding: 6px 50px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
}
a#pdf:hover {
  background: #222;
}

.job {
  position: relative;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0;
}
.job p {
  margin: 0.75em 0 1em 0;
}

.last {
  border: none;
}

.skills-list ul {
  margin: 0;
}
.skills-list li {
  margin: 3px 0;
  padding: 3px 0;
}
.skills-list li span {
  font-size: 152%;
  display: block;
  margin-bottom: -2px;
  padding: 0;
}
.skills {
  width: 32%;
  float: left;
}
.skills h2 {
  margin-bottom: 6px;
}

/* --// override to force 1/8th width grids -- */
.yui-gf {
  width: 93.2%;
}

.yui-u {
  width: 60%;
  padding: 0%;
  margin: 0%;
}

.yui-gf div.first {
  width: 12.3%;
  padding-left: 2em;
}

.yui-gc {
  width: 100%;
}

/* #one {
  float: left;
  width: 20%; 
  padding: 0%;
  margin: 0%;
} */

#one img{
  float: left;
  width: 12.5%;
  height: 10%;
  padding: 0%;
  margin: 0 5% 0 0;
}

#two{
  float: left;
  width: 50%;
  padding: 0%;
  margin: 0%;
}

#two a{
  color: #990003;
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  border-bottom: 0px solid #999;
}

#three {
  float: left;
  width: 25%;
  padding: 0%;
  margin: 0%;
}

#pic {
  /* border-radius: 50px; */
}