<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Computer Science">
  <meta name="keywords" content="Hacking, Ethical Hacking, Coding">
  <meta name="description" content="Resume Template 4" />

  <title th:text="${userProfile.getFirstName()}+' '+${userProfile.getLastName()} +' - '+ ${userProfile.getJobTitle()}">
    [Title]
  </title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


  <link rel="stylesheet" type="text/css" href="../profile-templates/4/style.css" media="all" />
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-none d-lg-block">
        <img id="pic" class="img-fluid img-profile rounded-circle mx-auto mb-2"
          th:src="${userProfile.getProfilePic() == null || userProfile.getProfilePic().trim() == ''}? '../profile-templates/profile-pic.png' : ${userProfile.getProfilePic()}"
          alt="profile pic" />
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">
          <span th:text="${userProfile.getFirstName()}">[First Name]</span>
          <span class="text-primary" th:text="${userProfile.getLastName()}">[Last Name]</span>
        </h1>
        <div class="mb-2">
          <h3 th:text="${userProfile.getJobTitle()}">[Job Title]</h3>
          <a th:if="${originalUser}" href="/edit">Edit</a>
          <br><br>

          <br><a href="#" th:text="${userProfile.getPhoneNum()}">[Phone Number]</a><br>
          <a th:text="${userProfile.getEmail()}" href="#">[email]</a><br>
          <a th:text="${userProfile.getWebsite()}" href="#">[Website]</a>
        </div> <br>
        <p class="lead mb-1" th:text="${userProfile.getSummary()}">[Default Summary] John Doe is writing some description here. Aah, Kadak Hai!</p>
    </section>
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5"> Education</h2>
        <span th:each="education : ${userProfile.getUserEducations()}">
          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
              <h3 class="mb-0" th:text="${education.getCollege()}">[College]</h3>
              <div class="subheading mb-3" th:text="${education.getDegree()}">[Degree]</div>
              <p><strong th:text="${education.getGrade()}">[Grades]</strong></p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">
                <span th:text="${education.formattedStartDate()}">[Start Date]</span>
                -
                <span th:text="${education.isCurrentEducation()}? 'Present' : ${education.formattedEndDate()}">
                  [End Date] </span>
              </span>
            </div>
          </div>
        </span>
      </div>
    </section>
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <span th:each="project: ${userProfile.getUserProjects()}">
          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content col-lg-9">
              <h3 class="mb-0" th:text="${project.getProjectName()}">[Project Name]</h3>
              <div class="subheading mb-3" th:text="${project.getTools()}">[Project Tools]</div>
              <p align="justify" th:text="${project.getDescription()}">
                [Project Description] This paper touches upon fake packet generation and their detection using Snort
                simulation of a IDS (Intrusion Detection System). This is a base for understanding the Man in the Middle
                Attacks and their working using Scapy, Wireshark, Snort and other networking tools and techniques. In
                the later part of Research, we also found the suitable mitigation techniques and analysis of performance
                across various detection tools. <br>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">
                <span th:text="${project.formattedStartDate()}">[Start Date]</span>
                -
                <span th:text="${project.formattedEndDate()}">
                  [End Date] </span>
              </span>
            </div>
          </div>
        </span>

      </div>
    </section>
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>
        <span th:each="experience : ${userProfile.getUserExperiences()}">
          <div id="smp" class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
              <h3 class="mb-0" th:text="${experience.getPosition()}">[Position]</h3>
              <div class="subheading mb-3"><a href="#" target="_blank"
                  th:text="${experience.getCompany()}">[Company]</a></div>
              <p align="justify" th:text="${experience.getDescription()}">
                [Work Description]Committed to provide assistance to the all students achieving their career goals. We
                are also responsible for facilitating the campus internships and placements for the students. I
                contribute in the Technical Team in making the content for the official documents, compliance and also
                drawing in industry leaders through my network for betterment of other colleagues.
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">
                <span th:text="${experience.formattedStartDate()}">[Start Date]</span>
                -
                <span th:text="${experience.isCurrentJob()}? 'Present' : ${experience.formattedEndDate()}">[End
                  Date]</span>
              </span>
            </div>
          </div>
        </span>
    </section>
    <hr>

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-3">Skills</h2>
        <span th:each="i : ${#numbers.sequence(0, 2)}">
          <ul class="skills">
            <div th:each="skill, index : ${userProfile.getUserSkills()}" th:unless="${(index.index-i) % 3}">
              <li th:text="${skill.getSkillName()}" class="mb-1 w-33" style="font-size:20px;">[Skill Name]</li>
            </div>
            <hr class="m-25">
          </ul>
        </span>
      </div>
    </section>
  </div>
</body>

</html>