<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tarun-Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.6/venobox.css">
  <link href="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css" rel="stylesheet">

  <link href="style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.4.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Tarun Goyal</a></h1>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#education"><i class="bx bx-book-content"></i>Education</a></li>
          <li><a href="#skills"><i class="bx bx-user"></i> <span>Skills</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Experience</span></a></li>
          <li><a href="#portfolio"><i class="bx bx-server"></i>Projects</a></li>
        </ul>

      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Tarun Goyal</h1>
      <p class="typed" data-typed-items="3rd Year Undergraduate at IIT Dharwad"></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>
            I am Tarun goyal, a 3rd-year Computer Science undergraduate at IIT Dharwad. I am a web developer with good industry experience.
            I am always ready to solve real-world challenges. I love to work in a competitive environment where I get to learn a lot from my peers. 
            I believe in evolving with the time that's why I always keep an eye on recent advancements in any field.I am exploring new technologies in computer science to build my career in them.
            I like to read books other than my domain and play volleyball in my leisure time.</p>
        </div>
      
      </div>
    </section><!-- End About Section -->

      <!-- ======= Education Section ======= -->
      <section id="education" class="resume section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Education</h2>
          </div>
  
          <div class="row">
            <div class="" data-aos="fade-up">
              <div class="resume-item">
                <h4>Bachelor of Technology (Computer Science)</h4>
                <h5>2018 - 2022 (Expected)</h5>
                <p><em>Indian Institute of Technology, Dharwad, India</em></p>
                <p>CGPA - 8.40</p>
              </div>
            
            </div>
            
          </div>
  
        </div>
      </section><!-- End Resume Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>
        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>
          
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>

            <div class="progress">
              <span class="skill">NodeJs</span>
            </div>
            

          </div>


        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= experience Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Experience</h2>
        </div>

        <div class="row">
          <div class="" data-aos="fade-up" data-aos-delay="100">
            
            
            <div class="resume-item">
              <h4>Mean Stack Developer (Intern)</h4>
              <h5>1 Aug 2020 - 31 Aug 2020</h5>
              <p><em>Webshark Web Services, Bengaluru, IND </em></p>
              <ul>
                <li><p align="justify">Completed one web project for the companay. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid laboriosam necessitatibus quae? Ipsum consequuntur vitae, corporis, fugiat ab ullam laudantium dolores alias, eos mollitia aliquam molestias aspernatur nam repellendus.</p></li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Mean Stack Developer (Intern)</h4>
              <h5>1 Aug 2020 - 31 Aug 2020</h5>
              <p><em>Webshark Web Services, Bengaluru, IND </em></p>
              <ul>
                <li><p align="justify">Completed one web project for the companay. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid laboriosam necessitatibus quae? Ipsum consequuntur vitae, corporis, fugiat ab ullam laudantium dolores alias, eos mollitia aliquam molestias aspernatur nam repellendus.</p></li>
              </ul>
            </div>
          
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Project Section ======= -->
    <section id="portfolio" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Projects</h2>

          <div class="flex-column">
            <div class="" data-aos="fade-up" data-aos-delay="100">
              
              <div class="resume-item">
                <h4>Mean Stack Developer (Intern)</h4>
                <h5>1 Aug 2020 - 31 Aug 2020</h5>
                <p><em>Webshark Web Services, Bengaluru, IND </em></p>
                <ul>
                  <li><p align="justify">Completed one web project for the companay. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid laboriosam necessitatibus quae? Ipsum consequuntur vitae, corporis, fugiat ab ullam laudantium dolores alias, eos mollitia aliquam molestias aspernatur nam repellendus.</p></li>
                </ul>
              </div>
              </div>

              
            
            </div>
          </div>

        </div>

    </section><!-- End Portfolio Section -->


       


  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.1/venobox.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js"></script>
  

  <!-- Template Main JS File -->
  <script src="main.js"></script>

</body>

</html>