<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Template 1</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Resume Template 1" />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="../profile-templates/1/style.css">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>

<body id="top">
	<div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="../profile-templates/profile-pic.png" alt="profile pic" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo" th:text="${userProfile.getFirstName()}+' '+${userProfile.getLastName()}">[First Name + Last Name]</h1>
				<h2 class="quickFade delayThree" th:text="${userProfile.getJobTitle()}">[Job Title]</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<!-- TODO : href="mailto:${}" -->
					<li><b>Phone No</b>: <span th:text="${userProfile.getPhoneNum()}">[Phone Number]</span></li>
					<li><b>Email</b>: <a th:text="${userProfile.getEmail()}" href="#">[email]</a></li>
					<li><b>Website</b>: <a th:text="${userProfile.getWebsite()}" href="#">[Website]</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				<article>
					<div class="sectionTitle">
						<h1>Personal Profile</h1>
					</div>

					<div class="sectionContent">
						<p th:text="${userProfile.getSummary()}">[Default Summary] I am an outgoing and energetic (ask anybody) young professional, seeking a career that fits my professional skills, personality, and murderous tendencies. My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. I can bring world domination to your organization.</p>
					</div>
				</article>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Work Experience</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>Senior Interface Designer at Facebook</h2>
						<p class="subDetails">April 2011 - Present</p>
						<p>Intrinsicly enable optimal core competencies through corporate relationships.
							Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently
							initiate virtual paradigms and top-line convergence.</p>
					</article>

					<article>
						<h2>Senior Interface Designer at Apple Inc.</h2>
						<p class="subDetails">Janruary 2007 - March 20011</p>
						<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive
							methods of empowerment. Compellingly morph extensive niche markets with mission-critical
							ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than
							scalable benefits.</p>
					</article>

					<article>
						<h2>Principal and Creative Lead at Microsoft</h2>
						<p class="subDetails">October 2004 - December 2007</p>
						<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital.
							Energistically evisculate orthogonal architectures through covalent action items.
							Assertively incentivize sticky platforms without synergistic materials.</p>
					</article>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Key Skills</h1>
				</div>

				<div class="sectionContent">
					<ul class="keySkills">
						<li>A Key Skill</li>
						<li>A Key Skill</li>
						<li>A Key Skill</li>
						<li>A Key Skill</li>
						<li>A Key Skill</li>
						<li>A Key Skill</li>
						<li>A Key Skill</li>
						<li>A Key Skill</li>
					</ul>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Education</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>Indiana University - Bloomington, Indiana</h2>
						<p class="subDetails">Dual Major, Economics and English — 4.0 GPA</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus
							hendrerit. Curabitur non consequat enim.</p>
					</article>
					
				</div>

				<div class="clear"></div>
			</section>
		</div>
		<br>
		<div class="bottom"></div>
		<br>
	</div>
</body>

</html>