<!DOCTYPE html>
<html lang="en">
<title>Resume Builder</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-family: "Lato", sans-serif
    }
</style>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <p>
                <center>Welcome to</center>
            </p>
        </div>
    </div>

    <div class="w3-content" style="max-width:2000px;margin-top:48px">
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <img src="../profile-templates/profile-pic.png">
            <h2 class="w3-wide">Resume Builder</h2>
            <p class="w3-opacity"><i>blah blah blah</i></p>
            <p class="w3-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit enim obcaecati possimus nemo vero deleniti facilis ex. Assumenda, repudiandae id!
            </p>
        </div>

        <div class="w3-black" id="tour">
            <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
                <h2 class="w3-wide w3-center">About Project</h2>
                <p class="w3-opacity w3-center"><i>Blah Blah Blah Blah Blah Blah!</i></p><br>
            </div>
        </div>
    </div>
</body>

</html>